<form novalidate #form="ngForm" (submit)="onSubmit(form)"> 
    <input type="hidden" name="id" [value]="service.formData.id">
    <div class="ui segment attached secondary inverted" style="border: none; background-image:  linear-gradient(135deg, rgb(24,42,115) 0%,rgb(33,138,174) 69%, rgb(32,167,172) 89%); text-align: center;"><i class="far fa-plus-square"></i>  Create/Edit Album</div>
    <div class="create mt-4">
        <div class="form-group">
            <label>ALBUM NAME</label>
            <input required type="text" class="form-control form-control lg" placeholder="Album Name" name="albumName" #albumName="ngModel" [(ngModel)]="service.formData.albumName" [class.invalid]="albumName.invalid && albumName.touched">
        </div>
        <div class="form-group">
            <button class="btn btn-info btn-lg col-md-12 m-auto" type="submit" (click)="toggleLoading()" [disabled]="form.invalid">SUBMIT</button>
        </div>
    </div>
    <div class="ui segment attached secondary inverted" style="border: none; background-image:  linear-gradient(135deg, rgb(24,42,115) 0%,rgb(33,138,174) 69%, rgb(32,167,172) 89%); text-align: center;">Album list</div>
        <table class="table mt-3" id="albumTable">
            <thead class="thead-light">
                <tr>
                    <th><i class="far fa-user"></i>Album Name&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list | orderBy: key: reverse| paginate:{itemsPerPage:5, currentPage:p};">
                    <td>{{pd.artist.artistName}}</td>
                </tr>
            </tbody>
        </table>
</form>